<!doctype html>
<html>
   <body>
   <h1> Interface info</h1>
   Interface: {{ conn_info['iface']}} <br>
   MAC Addr: {{ conn_info['mac']}} <br>
   IP Addr: {{ conn_info['ip']}} <br>
   <br>
   <h1> VPN Info </h1> 
   {% if 'ip' in vpn_info %}
   VPN IP Addr: {{ vpn_info['ip']}} <br>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "disconnect_vpn" value= "True">
       <input type = "submit" value = Disonnect VPN!" />
     </form>
   {% else %}
   VPN NOT CONNECTED <br>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "connect_vpn" value= "True">
       <input type = "submit" value = "Connect VPN!" />
     </form>
    
   {% endif %} 
   <br>
   <h1>Choose a wifi network to connect to:</h1>
   <form action  = "{{ url_root }}" method = "POST">
      <input type = "hidden" name = "scan" value= "True">
      <input type = "submit" value = "Scan" />
   <br> 
   </form>
      <table border = 1>
         {% for ap in aps %}
         
            <tr>
               <th> {{ ap['ssid'] }} </th>
               <td> {{ ap['mac']  }} </td>
               <td> {{ ap['signal']  }} </td>
               <td> 
                   <form action = "{{ url_root  }}" method = "POST">
                   <input type = "hidden" name = "connect" value= "True">
                   <input type = "hidden" name = "ssid" value= "{{ ap['ssid'] }}">
                   Password: <input type = "text" name = "pwd">
                   <input type = "submit" value = "Connect" />
                   </form>
               </td>
            </tr>
            
         {% endfor %}
      </table>
   <br>

   <h1> Run as access point </h1>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "ap" value= "True">
       Network Name: <input type = "text" name = "apssid" value = "flaskwf"><br>
       Password: <input type = "text" name = "appwd" value="123flaskwf"><br>
       Subnet: <input type = "text" name = "apsubnet" value = "10.10.0.0"><br>
       <input type = "submit" value = "Run as AP" />
     </form>

<h1> Messages</h1>
{{ message }}   
      
   </body>
</html>
