<!doctype html>
<html>
   <body>

{% block interface_info %} {% endblock %}

 <h1> Interface info</h1>
   {% for iface, info in iface_info.iteritems() %}
     Interface: {{ iface }} <br>
     MAC Addr: {{ info['mac']}} <br>
     IP Addr: {{ info['ip']}} <br>
     <br>
   {% endfor %}
   External IP : {{ external_ip }}

   <br><br>

 <h1> VPN Info </h1> 
   {% if 'tun0' in iface_info %}
   VPN Config: {{ iface_info['tun0']['lastvpn'] }}<br>
   VPN IP Addr: {{ iface_info['tun0']['ip']}} <br>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "disconnect_vpn" value= "True">
       <input type = "submit" value = Disconnect VPN!" />
     </form>
   {% else %}
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "connect_vpn" value= "True">
       <select name='vpn_config'>
       {% for conf in vpn_confs %}
       <option value={{ conf }}> {{ conf }} </option>
       {% endfor %}
       </select> <br>
       <input type = "submit" value = "Connect VPN!" />
     </form>    
   {% endif %} 
   <br>

   <h1>Choose a wifi network to connect to:</h1>
   <form action  = "{{ url_root }}" method = "POST">
      <input type = "hidden" name = "scan" value= "True">
      <input type = "submit" value = "Scan" />
   <br> 
   </form>
      <table border = 1>
         {% for ap in aps %}
         
            <tr>
               <th> {{ ap['ssid'] }} </th>
               <td> {{ ap['mac']  }} </td>
               <td> {{ ap['signal']  }} </td>
               <td> 
                   <form action = "{{ url_root  }}" method = "POST">
                   <input type = "hidden" name = "connect" value= "True">
                   <input type = "hidden" name = "ssid" value= "{{ ap['ssid'] }}">
                   Password: <input type = "text" name = "pwd">
                   <input type = "submit" value = "Connect" />
                   </form>
               </td>
            </tr>
            
         {% endfor %}
      </table>
   <br>

   <h1> AP INFO </h1>
   {% if 'pid' in hostapd_info %}

   AP running with ssid: {{ hostapd_info['ssid'] }} <br>
   AP running with password: {{ hostapd_info['pwd'] }} <br>
   <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "stop_ap" value= "True">
       <input type = "submit" value = "Stop AP" />
   </form>
  
   {% else %}

     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "start_ap" value= "True">
       Network Name: <input type = "text" name = "apssid" value = "flaskwf"><br>
       Password: <input type = "text" name = "appwd" value="123flaskwf"><br>
       Subnet: <input type = "text" name = "apsubnet" value = "10.10.0.0"><br>
       <input type = "submit" value = "Run as AP" />
     </form>

   {% endif %}


<h1> Messages</h1>
{{ message }}   
      
   </body>
</html>
