<!doctype html>
<html>

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class='container'>

<div class='row'>
 <h1> Interface info</h1>
 <div class='col-sm-6'>
   {% for iface, info in iface_info.iteritems() %}
     Interface: {{ iface }} <br>
     MAC Addr: {{ info['mac']}} <br>
     IP Addr: {{ info['ip']}} <br>
     <br>
   {% endfor %}
   External IP : {{ external_ip }} <br>
   Wifi interface: {{ iface_wifi }} <br>
   Wired interface: {{ iface_wired }} <br>
   <br>

   <div class='col-6-sm'>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "choose_iface" value= "True">

       <div class='form-group'>
         <label for="sel1">Select wireless interface:</label>
         <select class="form-control" name='new_iface_wifi'>
         {% for iface, info in iface_info.iteritems() %}
           {% if iface == iface_wifi %}
             <option value={{ iface }} selected="selected"> {{ iface }} </option>
           {% else %}
             <option value={{ iface }}> {{ iface }} </option>
           {% endif %}
         {% endfor %}
         </select> 
       </div>

       <div class='form-group'>
         <label for="sel1">Select wired interface:</label>
         <select class="form-control" name='new_iface_wired'>
         {% for iface, info in iface_info.iteritems() %}
           {% if iface == iface_wired %}
             <option value={{ iface }} selected="selected"> {{ iface }} </option>
           {% else %}
             <option value={{ iface }}> {{ iface }} </option>
           {% endif %}
         {% endfor %}
         </select> 
       </div>

       <input class='btn-primary' type = "submit" value = "Submit interfaces" />
     </form>    
   </div>


</div>
</div>

<div class='row'>
 <h1> VPN Info </h1> 
   {% if 'tun0' in iface_info %}
   <div class='col-6-sm'>
   VPN Config: {{ iface_info['tun0']['lastvpn'] }}<br>
   VPN IP Addr: {{ iface_info['tun0']['ip']}} <br>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "iface_wifi" value= "{{ iface_wifi }}">
       <input type = "hidden" name = "iface_wired" value= "{{ iface_wired }}">
       <input type = "hidden" name = "disconnect_vpn" value= "True">
       <input type = "submit" value = Disconnect VPN!" />
     </form>
    </div>
   {% else %}
   <div class='col-6-sm'>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "connect_vpn" value= "True">
       <div class='form-group'>
         <label for="sel1">Select VPN config:</label>
         <select class="form-control" name='vpn_config'>
         {% for conf in vpn_confs %}
         <option value={{ conf }}> {{ conf }} </option>
         {% endfor %}
         </select> 
       </div>
       <input type = "hidden" name = "iface_wifi" value= "{{ iface_wifi }}">
       <input type = "hidden" name = "iface_wired" value= "{{ iface_wired }}">
       <input class='btn-primary' type = "submit" value = "Connect VPN!" />
     </form>    
   </div>
   {% endif %} 
   </div>

<div class='row'>
   <h1>Choose a wifi network to connect to:</h1>
 <div class='col-sm-6'>
   <form action  = "{{ url_root }}" method = "POST">
      <input type = "hidden" name = "scan" value= "True">
      <input type = "hidden" name = "iface_wifi" value= "{{ iface_wifi }}">
      <input type = "hidden" name = "iface_wired" value= "{{ iface_wired }}">
      <input class='btn-primary' type = "submit" value = "Scan" />
   <br> 
   </form>
      <table border = 1>
         {% for ap in aps %}
         
            <tr>
               <th> {{ ap['ssid'] }} </th>
               <td> {{ ap['mac']  }} </td>
               <td> {{ ap['signal']  }} </td>
               <td> 
                   <form action = "{{ url_root  }}" method = "POST">
                   <input type = "hidden" name = "iface_wifi" value= "{{ iface_wifi }}">
                   <input type = "hidden" name = "iface_wired" value= "{{ iface_wired }}">
                   <input type = "hidden" name = "connect" value= "True">
                   <input type = "hidden" name = "ssid" value= "{{ ap['ssid'] }}">
                   Password: <input type = "text" name = "pwd">
                   <input type = "submit" class='btn-primary' value = "Connect" />
                   </form>
               </td>
            </tr>
            
         {% endfor %}
      </table>
   </div>
   </div>

   <div class='row'>
   <h1> AP INFO </h1>
   {% if 'pid' in hostapd_info %}
   <div class='col-sm-6'>
   AP running with ssid: {{ hostapd_info['ssid'] }} <br>
   AP running with password: {{ hostapd_info['pwd'] }} <br>
   <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "iface_wifi" value= "{{ iface_wifi }}">
       <input type = "hidden" name = "iface_wired" value= "{{ iface_wired }}">
       <input type = "hidden" name = "stop_ap" value= "True">
       <input type = "submit" class='btn-primary' value = "Stop AP" />
   </form>
   </div>  
   {% else %}
    <div class='col-sm-6'>
     <form action = "{{ url_root }}" method = "POST">
       <input type = "hidden" name = "iface_wifi" value= "{{ iface_wifi }}">
       <input type = "hidden" name = "iface_wired" value= "{{ iface_wired }}">
       <input type = "hidden" name = "start_ap" value= "True">
       <div class='form-group'>
         <label for='apssid'>Network Name:</label>
         <input class='form-control' id='apssid' type = "text" name = "apssid" value = "flaskwf">
       </div>
       <div class='form-group'>
         <label for='appwd'>Password:</label>
         <input class='form-control' id='appwd' type = "text" name = "appwd" value="123flaskwf">
       </div>
       <div class='form-group'>
         <label for='apsubnet'> Subnet:</label>
          <input class='form-control' id='apsubnet' type = "text" name = "apsubnet" value = "10.10.0.0"><br>
       </div>

       <input type = "submit" class='btn-primary' value = "Run as AP" />
     </form>
   </div>
   {% endif %}
  </div>

<div class='row'>
<h1> Messages</h1>
<h3>{{ message }}</h3>   
</div>
      
</div>

   </body>
</html>
